---
const message = "Free delivery on all orders over $100";
---

<div
  class="flex items-center justify-center bg-gradient-to-r from-[#002A38] to-[#007531] px-4 py-2 text-sm font-bold text-white sm:px-6 lg:px-8"
>
  {message}
</div>
